@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "Inknut";
  src: url("../../public/fonts/InknutAntiqua-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url("../../public/fonts/Inconsolata-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg: #171820;
    --text: #EDFDEE;
  }
}

body {
  background-color: var(--bg);
}

h1 {
  font-family: Inknut;
  color: var(--text);
  font-size: 3.5rem;
}

h2 {
  font-family: Inknut;
  color: var(--text);
  font-size: 1.75rem;
}

p {
  font-family: Inconsolata;
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 100;
}

.ra {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  overflow-y: auto;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding-top: 3rem;
}

.col {
  display: flex;
  flex-direction: column;
}

.w-300 {
  /* max-width: 700px; */
}